.detailed-page__header-figure {
  display: flex;
  margin: 0;
  margin-left: 20px;
}
.detailed-page__header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.detailed-page__header::after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  background: #3a4562;

  mix-blend-mode: normal;
  opacity: 0.13;
}
.detailed-page__wrapper {
  width: 1000px;
  color: #3a4562;
}
.detailed-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.detailed-page__header-left {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.413333px;
  color: #3a4562;
}
.detailed-page__header-right {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3a4562;
  font-stretch: 100;
}
.detailed-page__apply-button {
  background: #384564;
  border-radius: 8px;
  border: 0;
  padding: 18px 30px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.detailed-page__title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3a4562;
  font-stretch: 100;
  letter-spacing: -0.5625px;
}
.detailed-page__main-info {
  margin-bottom: 60px;
}
.detailed-page__underlined-text {
  position: relative;
  margin-bottom: 30px;
}
.detailed-page__underlined-text::after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  background: #3a4562;

  mix-blend-mode: normal;
  opacity: 0.13;
}
.detailed-page__images {
  width: 200px;
  height: 133px;
  border-radius: 8px;
  margin: 3px;
}
.detailed-page__main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3a4562;
  font-stretch: 100;
}
.detailed-page__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
}
.detailed-page__images-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.detailed-page__header-figcaption {
  display: flex;
  align-items: center;
}
.detailed-page__benefits {
  list-style: square;
}
.detailed-page__mobile-header-addition {
  display: none;
}
@media (max-width: 1000px) {
  .detailed-page__mobile-disapear {
    display: none;
  }
  .detailed-page__wrapper {
    padding: 15px;
    width: auto;
  }
  .detailed-page__images-wrapper {
    justify-content: center;
  }
  .detailed-page__mobile-header-addition {
    display: flex;
  }
  .detailed-page__header {
    margin-bottom: 20px;
  }
  .detailed-page__mobile-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.82);
  }
}
